.navContainer{
  width: 100%; /*toma todo el ancho de la pantalla*/
  padding: 2rem; /*margen para todos los lados*/
  display: flex;/*para que se separe uno a uno cada item*/
  justify-content: space-around; 
  align-items: center; /*para que lo centre linealmente*/
  background-color: black;
} 

.aLink{
  color: white;
  font-weight: 500;
  text-decoration: none;

}

.cartWidgetContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartIcon{
  width: 5rem;
}
.cartCounter{
  color: red;
  font-size: 1rem;
  font-weight: 500;
}